.App {
  text-align: center;
  min-height: 100vh;
  background-color: #E6F5F8;

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutName {
  color: #0077b6;
}

.aboutWorkLink {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.aboutWorkLink:hover {
  color: #0077b6;
  cursor: pointer;
}

.App-link {
  background-color: #61dafb;
}
/* add Media Query to make 1 column on phone displays */

.App-AboutBody{
  height: 100vh;
  margin: 0 ;
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: calc(10px + 2vmin);
}

h2 {
  margin: 0;
}

.cardHolder {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(250px, auto);

  gap: 10px;
  padding: 10px 40px;
}

.App-body{
  height: 100vh;
}

@media screen and (min-width: 760px){

  .cardHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(250px, auto);

    gap: 30px;
    padding: 10px 40px;

  }
}